<%= content_tag :div,
  id: param_name.to_s.camelize(:lower) + 'Nav',
  class: 'btn-group mr-2',
  role: 'group' do %>
  <button type="button" class="btn btn-outline-dark" disabled>
    <%= param_name.to_s.titleize %>
  </button>
  <% options.each do |opt| %>
    <% if instance_variable_get("@#{param_name}") == opt.to_s %>
      <%= link_to(
        opt.to_s.titleize,
        request.params.except(param_name),
        class: 'btn btn-primary active',
        role: 'button',
      ) %>
    <% else %>
      <%= link_to(
        opt.to_s.titleize,
        request.params.merge(param_name => opt),
        class: 'btn btn-secondary',
        role: 'button',
      ) %>
    <% end %>
  <% end %>
<% end %>