<ul class="list-inline mb-0">
  <li class="list-inline-item">
    <%= vote_link(movie, 'up', 'thumbsup', height) %>
  </li>
  <li class="list-inline-item">
    <%= vote_link(movie, 'bookmark', 'bookmark', height) %>
  </li>
  <li class="list-inline-item">
    <%= vote_link(movie, 'down', 'thumbsdown', height) %>
  </li>
</ul>