<div class="row">
  <%- @movies.each do |movie| -%>
    <div class="col-md-3">
      <%= image_tag movie.cover_image, class: "img-fluid"%>
      <%= link_to movie do %>
        <span><%= movie.code %></span>
        <span><%= movie.title %></span>
      <% end %>
    </div>
  <%- end -%>
</div>