<div class="form-group row password-field">
  <%= form.label :password, class: 'col-2 col-form-label' %>
  <%= form.password_field :password, class: 'form-control col-4' %>
  <% if allow_forgot %>
    <%= link_to t(".forgot_password"), new_password_path, class: 'col-2 col-form-label' %>
  <% end %>
</div>
